#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mt-5{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.tarjeta{
  width: 20vw;
  
}

.card-img-top{
  height: 45vh;
}
